<!DOCTYPE html>
<html>
<head>
  <title>Braintree donation demo with Rails</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<h1>Donate</h1>

<%= yield %>

</body>
</html>
